# Environment variables
.env
*/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub/
.pub-cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
